{{ 'section-customer.css' | asset_url | stylesheet_tag }}

<section class="customer customer--register" data-section-id="{{ section.id }}">
  <div class="customer__container page-width">
    
    <div class="customer__box" data-aos="fade-up">
      <header class="customer__header">
        <h1 class="customer__title h2">{{ 'customer.register.title' | t }}</h1>
      </header>

      {%- form 'create_customer', novalidate: 'novalidate' -%}
        {%- if form.errors -%}
          <div class="form__message form__message--error">
            {%- render 'icon-error' -%}
            <p>{{ form.errors | default_errors }}</p>
          </div>
        {%- endif -%}

        <div class="field">
          <input
            type="text"
            name="customer[first_name]"
            id="RegisterFirstName"
            class="field__input"
            autocomplete="given-name"
            placeholder=" "
            required
          >
          <label for="RegisterFirstName" class="field__label">{{ 'customer.register.first_name' | t }}</label>
        </div>

        <div class="field">
          <input
            type="text"
            name="customer[last_name]"
            id="RegisterLastName"
            class="field__input"
            autocomplete="family-name"
            placeholder=" "
            required
          >
          <label for="RegisterLastName" class="field__label">{{ 'customer.register.last_name' | t }}</label>
        </div>

        <div class="field">
          <input
            type="email"
            name="customer[email]"
            id="RegisterEmail"
            class="field__input"
            autocomplete="email"
            autocorrect="off"
            autocapitalize="off"
            placeholder=" "
            required
          >
          <label for="RegisterEmail" class="field__label">{{ 'customer.register.email' | t }}</label>
        </div>

        <div class="field">
          <input
            type="password"
            name="customer[password]"
            id="RegisterPassword"
            class="field__input"
            autocomplete="new-password"
            placeholder=" "
            required
          >
          <label for="RegisterPassword" class="field__label">{{ 'customer.register.password' | t }}</label>
        </div>

        <div class="customer__actions">
          <button type="submit" class="button button--full-width">
            {{ 'customer.register.submit' | t }}
          </button>
        </div>
      {%- endform -%}

      <div class="customer__footer">
        <p>{{ 'customer.register.already_have_account' | t }}</p>
        <a href="{{ routes.account_login_url }}" class="link link--underline">
          {{ 'customer.register.login' | t }}
        </a>
      </div>
    </div>

  </div>
</section>

{% schema %}
{
  "name": "Register",
  "tag": "section",
  "class": "section section-customer"
}
{% endschema %}
